<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">
 <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <!-- Script
   ================================================== -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="js/modernizr.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.jpg" >
<style>
body {
    padding-top: 90px;

 }
 .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
}
.team-member {
  margin-bottom: 50px;

}

#resume1  img {

  border: 7px solid grey;
 border-radius: 50%;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;

}

.team-member p {
  margin-top: 0;
}




</style>



<script>
document.getElementById('demo').src = "image/" + name +".jpeg"

</script>





























</head>

<body style="background-color: #333;">


   <header id="home" >

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav" style="font-size:18px">
		<li class="current"><a class="smoothscroll" href="#home"><img src="./images/smvdulogo.png" height=60px width=60px;></a></li>
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about" >About</a></li>

            <li><a class="smoothscroll" href="#portfolio">Department</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner" style="background-color: rgba(0, 0, 0, 0.6);" >
         <div class="banner-text">
<br>
          <b>  <h2 class="responsive-headline" style="font-size: 40px; color: white;"><br>Shri Mata Vaishno Devi University, Katra</h2></b><hr style="color: white;">
            <h2 style="color: white">Date: <span id="datetime"></span></span></h2>
<br>

<canvas id="canvas" width="150" height="150">
</canvas>


         </div>
      </div>


   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about" >


      <div class="row" style="margin-left: 200px;">

         <div class="three columns ">

            <img class="profile-pic"  src="images/pp.jpg" alt="" />
            <button style="color: white; font-size: 15px; margin-top: 30px;"> Edit</button>


         </div>

         <div class="seven columns main-col">

           <img id="demo" src="">
            <h2 style="color: white;">My Profile</h2><hr>

            <p style="color: white;"><b>Name: &nbsp;</b><span id="name"> Ankit Saini </span><br>
            <b>Email: &nbsp;</b><span id="email">as600030@gmail.com </span><br>
            <b>Depatment:&nbsp; </b><span id="dept">Computer science & engg. <br>
            <b>School:&nbsp;</b><span id="school">Engineering </span></p>


         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->



   <!-- Portfolio Section
   ================================================== -->



<section id="portfolio" style="background-color: white;">
<div id="testimonials" style="margin-top: -80px; background-color: rgba(0, 0, 0, 0.8);">
  <div style="background-color: rgba(0, 0, 0, 0.6);">
<div class="row" style="margin-left: 250px;">

         <div class="twelve columns collapsed"  ><br>

            <h1 style="padding: 40px;"><b style="color: #e65100; font-size: 60px;">S</b><b style="font-size: 50px;">C</b><b style="font-size: 40px;">H</b><b style="font-size: 40px;">O</b><b style="font-size: 40px;">O</b><b style="font-size: 50px;">L<b style="color: #e65100; font-size: 60px;">S</b></h1>
</div>
</div>
</div>
   </div><br><br>

      <div class="row" style="margin-left: 250px;">

         <div class="twelve columns collapsed">



            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="" >
                        <img alt="" src="images/portfolio/1.jpg" style="border-radius: 10px; height: 190px; width: 250px;">

                        <div class="overlay">
                           <div class="portfolio-item-meta"><br>
          					      <b><h5 style="margin-top: -40px;">Faculty of Engg.</h5></b>
                              		 <h5>  <ol>
		<li style="color: white;">Computer Science and Engineering</li>
		<li style="color: white;">Electronics & Communication Engineering</li>
<li style="color: white;">Mechanical Engineering</li>
<li style="color: white;">Biotechnology</li>
<li style="color: white;">Energy Management</li>
<li style="color: white;">Architecture & Landscape Design</li>
<li style="color: white;">Civil Engineering</li>
<li style="color: white;">Food Technology</li>
</h5><hr/>
          					   </div>
                        </div>
                        <div class="link-icon"><i></i></div><b style="color: black;"><h5> &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; Faculty of Engg.</h5></b>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="images/portfolio/2.jpg" heigth= 500px; style="border-radius: 10px; height: 190px; width: 250px;">
                        <div class="overlay">
                           <div class="portfolio-item-meta"><br>
          					      <h5>Faculty of Sciences</h5>
                             <p><h5>  <ol>
	<li style="color: white;">Mathematics</li>
    <li style="color: white;">Physics</li>
<li style="color: white;">M.Sc.(Biotechnology)</li></h5><hr/></p>
          					   </div>
                        </div>
                        <div class="link-icon"><i></i></div><b style="color: black;"><h5> &nbsp;   &nbsp; &nbsp;Faculty of Sciences</h5></b>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="images/portfolio/3.jpg" style="border-radius: 10px; height: 190px; width: 250px;">
                        <div class="overlay">
                           <div class="portfolio-item-meta"><br>
          					      <h5>Faculty of Sciences</h5>
                               <h5>  <ol>
		<li style="color: #e65100;">School of Business</li>
    <li style="color: #e65100;">Economics</li>
<hr/>
          					   </div>
                        </div>
                        <div class="link-icon"><i></i></div><b style="color: black;"><h5> Faculty of Managment</h5></b>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="images/portfolio/4.jpg" style="border-radius: 10px; height: 190px; width: 250px;">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Faculty of Humanities and Social Sciences</h5><br>
                               <h5>  <ol>
		<li style="color: #e65100;">Philosophy & Culture</li>
    <li style="color: #e65100;">Languages & Literature</li>

</h5>
<hr/>
          					   </div>
                        </div>
                        <div class="link-icon"><i></i></div><b style="color: black;"><h5>  Faculty of Humanities and Social Sciences</h5></b>
                     </a>

                  </div>
          		</div> <!-- item end -->
<!-- item end -->



            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">
		   <div class="description-box">
			     <b> <h2 style="color: black;" style="margin-top: 50px;"><u>Faculty of Engineering</u></h2>
            <a href="cse.html"> <div class="grid-container" style="margin-top: 50px;">
  <div>           <img src="./images/111.jpeg" Style="height: 200px; width: 800px; border-radius: 20px;">
</div>
  <div><h2 style="margin-top: 50px;color: #e65100;">Computer Science<br> and Engineering</h2></div>

</div></a>
             <a href="ece.html"><div class="grid-container" style="margin-top: 50px;">
              <div><h2 style="margin-top: 50px;color: #e65100;">Electronics & <br>Communication&nbsp; &nbsp;<br> Engineering</h2></div>
  <div>           <img src="./images/222.jpeg" Style="height: 200px; width: 800px; border-radius: 20px;">
</div>

</div></a>
<a href="mech.html"> <div class="grid-container" style="margin-top: 50px;">
  <div>           <img src="./images/333.jpeg" Style="height: 200px; width: 800px; border-radius: 20px;">
</div>
  <div><h2 style="margin-top: 50px;color: #e65100;">&nbsp;&nbsp;&nbsp;&nbsp;Mechanical&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br> &nbsp;&nbsp;&nbsp;&nbsp;Engineering&nbsp;&nbsp;&nbsp;</h2></div>

</div></a>
<a href="bio.html"><div class="grid-container" style="margin-top: 50px;">
              <div><h2 style="margin-top: 60px;color: #e65100;">Biotechnology&nbsp;&nbsp;&nbsp;</h2></div>
  <div>           <img src="./images/444.jpeg" Style="height: 200px; width: 800px; border-radius: 20px;">
</div>

</div></a>
            <div class="link-box">

		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <div class="description-box">
			      <h2 style="color: black;" style="margin-top: 50px;"><u>Faculty of Sciences</u></h2>
			      <a href="login.html"> <div class="grid-container" style="margin-top: 50px;">
  <div>           <img src="./images/1.jpeg" Style="height: 200px; width: 800px; border-radius: 20px;">
</div>
  <div><h2 style="margin-top: 50px;color: #e65100;">&nbsp;&nbsp;Mathematics&nbsp;&nbsp;</h2></div>

</div></a>
             <a href="login.html"><div class="grid-container" style="margin-top: 50px;">
              <div><h2 style="margin-top: 50px;color: #e65100;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Physics&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></div>
  <div>           <img src="./images/2.jpeg" Style="height: 200px; width: 800px; border-radius: 20px;">
</div>

</div></a>
<a href="login.html"> <div class="grid-container" style="margin-top: 50px;">
  <div>           <img src="./images/1.jpeg" Style="height: 200px; width: 800px; border-radius: 20px;">
</div>
  <div><h2 style="margin-top: 50px;color: #e65100;">M.Sc. <br>(Biotechnology)</h2></div>

</div></a>

            <div class="link-box">

		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">


		      <div class="description-box">
			      <h2 style="color: black;" style="margin-top: 50px;"><u>Faculty of Managment</u></h2>
			      <a href="login.html"> <div class="grid-container" style="margin-top: 50px;">
  <div>           <img src="./images/1.jpeg" Style="height: 200px; width: 800px; border-radius: 20px;">
</div>
  <div><h2 style="margin-top: 50px;color: #e65100;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;School of&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Business</h2></div>

</div></a>
             <a href="login.html"><div class="grid-container" style="margin-top: 50px;">
              <div><h2 style="margin-top: 50px;color: #e65100;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Economics&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></div>
  <div>           <img src="./images/2.jpeg" Style="height: 200px; width: 800px; border-radius: 20px;">
</div>

</div></a>

            <div class="link-box">

		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-04" class="popup-modal mfp-hide">


		      <div class="description-box">
			       <h2 style="color: black;" style="margin-top: 50px;"><u>Faculty of Humanities and Social Sciences</u></h2>
			      <a href="login.html"> <div class="grid-container" style="margin-top: 50px;">
  <div>           <img src="./images/1.jpeg" Style="height: 200px; width: 800px; border-radius: 20px;">
</div>
  <div><h2 style="margin-top: 50px;color: #e65100;">&nbsp;&nbsp;&nbsp;&nbsp;Philosophy & &nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Culture&nbsp;&nbsp;&nbsp;</h2></div>

</div></a>
             <a href="login.html"><div class="grid-container" style="margin-top: 50px;">
              <div><h2 style="margin-top: 50px;color: #e65100;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Languages & &nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Literature&nbsp;&nbsp;&nbsp;</h2></div>
  <div>           <img src="./images/2.jpeg" Style="height: 200px; width: 800px; border-radius: 20px;">
</div>
</b>

</div></a>
            <div class="link-box">

		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-06 End -->


	      </div><!-- modal-01 End -->


      </div> <!-- row End -->

















 </section> <!-- Portfolio Section End-->




















   <section id="gallary">


<section>


   <!-- Testimonials Section
   ================================================== -->
  <!-- Testimonials Section End-->









   <section id="contact">

        <div class="row section-head" style="margin-left: 200px;">

            <div class="two columns header-col">

               <h1><span>Register Here.</span></h1>

            </div>

            <div class="ten columns">



            </div>

         </div>

         <div class="row" style="margin-left: 200px;">

            <div class="eight columns">


               <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName" placeholder="Participant Name">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail" placeholder="E-mail Address">
                  </div>
		 <div>
						   <label for="contactPhone">Phone <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactPhone" name="contactPhone" placeholder="7298245479"">
                  </div>


                  <div>
						   <label for="contactSubject">Department <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject" placeholder="Department">
                  </div>

                  <div>
                     <label for="contactMessage">Query<span class="required">*</span></label>
                     <textarea cols="20" rows="5" id="contactMessage" name="contactMessage" placeholder="Any Query "></textarea>
                  </div>

                  <div>
                     <button class="submit" style="font-size: 20px;">Register</button>
                     <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> Error boy</div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				   </div>

            </div>
<!---

            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
						   Jonathan Doe<br>
						   1600 Amphitheatre Parkway <br>
						   Mountain View, CA 94043 US<br>
						   <span>(123) 456-7890</span>
					   </p>

				   </div>

            <div class="widget widget_tweets">

                  <h4 class="widget-title">Latest Tweets</h4>

                  <ul id="twitter">
                     <li>
                        <span>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">2 Days Ago</a></b>
                     </li>
                     <li>
                        <span>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">3 Days Ago</a></b>
                     </li>
                  </ul>

		         </div>

            </aside>

      </div>----->

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>
   <div class="container">
        <div class="row" style="margin-left: 70px;">
	 <span class="copyright" ><b style="color: white;">Making   Credits: &nbsp; &nbsp;
Ankit Saini,&nbsp;
Rahul Mahajan,&nbsp;
Shubam Gupta</b></span>
	</div>
</div>
      <div class="row" style="margin-left: 250px;">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.facebook.com/lakshmikant.tyagi"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/b834b25a385c4fc"><i class="fa fa-twitter"></i></a></li>

               <li><a href="https://www.linkedin.com/in/lakshmi-kant-tyagi-9aab06112/"><i class="fa fa-linkedin"></i></a></li>

            </ul>



         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer>


<!-- Footer End-->
  <script>
// Set the date we're counting down to
var countDownDate = new Date("April 6, 2018 00:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 44)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}, 1000);
</script>


<!-------------------- date----------------------->
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>









<!--------------- clock--------------------------->
<script>
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
var radius = canvas.height / 2;
ctx.translate(radius, radius);
radius = radius * 0.90
setInterval(drawClock, 1000);

function drawClock() {
  drawFace(ctx, radius);
  drawNumbers(ctx, radius);
  drawTime(ctx, radius);
}

function drawFace(ctx, radius) {
  var grad;
  ctx.beginPath();
  ctx.arc(0, 0, radius, 0, 2*Math.PI);
  ctx.fillStyle = 'white';
  ctx.fill();
  grad = ctx.createRadialGradient(0,0,radius*0.95, 0,0,radius*1.05);
  grad.addColorStop(0, '#333');
  grad.addColorStop(0.5, 'white');
  grad.addColorStop(1, '#333');
  ctx.strokeStyle = grad;
  ctx.lineWidth = radius*0.1;
  ctx.stroke();
  ctx.beginPath();
  ctx.arc(0, 0, radius*0.1, 0, 2*Math.PI);
  ctx.fillStyle = '#333';
  ctx.fill();
}

function drawNumbers(ctx, radius) {
  var ang;
  var num;
  ctx.font = radius*0.15 + "px arial";
  ctx.textBaseline="middle";
  ctx.textAlign="center";
  for(num = 1; num < 13; num++){
    ang = num * Math.PI / 6;
    ctx.rotate(ang);
    ctx.translate(0, -radius*0.85);
    ctx.rotate(-ang);
    ctx.fillText(num.toString(), 0, 0);
    ctx.rotate(ang);
    ctx.translate(0, radius*0.85);
    ctx.rotate(-ang);
  }
}

function drawTime(ctx, radius){
    var now = new Date();
    var hour = now.getHours();
    var minute = now.getMinutes();
    var second = now.getSeconds();
    //hour
    hour=hour%12;
    hour=(hour*Math.PI/6)+
    (minute*Math.PI/(6*60))+
    (second*Math.PI/(360*60));
    drawHand(ctx, hour, radius*0.5, radius*0.07);
    //minute
    minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));
    drawHand(ctx, minute, radius*0.8, radius*0.07);
    // second
    second=(second*Math.PI/30);
    drawHand(ctx, second, radius*0.9, radius*0.02);
}

function drawHand(ctx, pos, length, width) {
    ctx.beginPath();
    ctx.lineWidth = width;
    ctx.lineCap = "round";
    ctx.moveTo(0,0);
    ctx.rotate(pos);
    ctx.lineTo(0, -length);
    ctx.stroke();
    ctx.rotate(-pos);
}
</script>

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>
